@font-face {
  font-family: "wt009";
  src: url("./assets/fonts/wt009.ttf") format("truetype");
}
@font-face {
  font-family: "e";
  src: url("./assets/fonts/dft_r5.ttc") format("truetype");
}
@font-face {
  font-family: "DFHei";
  src: url("./assets/fonts/dft_b5.ttc") format("truetype");
}
